h1, p {
    text-align: center;
}

.container {
    background-color: lightcyan;
    height: 400px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; /* deals with the cross axis (perpendicular) */
    flex-wrap: wrap;
}


 .item {
    width: 70px;
    height: 70px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
 }
